.newsList{
  column-count: 4 ;
  width: 100%;
}

.cardImage{
  min-height: 180px !important;
  max-height: 180px !important;
  
}

.card{
  height: 500px;
  overflow: hidden;
}

.card-text{
  max-height: 35px;
}

.nav-link:hover{
  cursor: pointer;
}
